<!-- the scss in the scss file shows how it should work (currently isn't referenced in the ts file so scss isn's applied)-->

<div class="news">
    <!-- news cnn like banner aka ticket tape-->

    <div class="news__item {{i +1}}" *ngFor="let last of news; let i=index" style="display: none;">
        <div > <!-- Max of 2-->
            <img class="news__item__img visable-{{i +1}}"  src="{{last.enclosures[0].url}}" alt="">
        </div>
        <div > <!-- Max of 1-->
            <!-- deze src lijkt niet als background img te willen-->
            <div class="news__item__title visable-{{i +1}}" >{{last.title}}</div>
            <div class="news__item__description visable-{{i+1}}" >{{last.description}}</div>
        </div>
    </div>

</div>