// ---------------------------------------------
// Directories
// ---------------------------------------------

$dir-font: '../assets/font' !default;
$dir-img: '../assets/img' !default;

// ---------------------------------------------
// Global settings
// ---------------------------------------------

$experimental-support-vendor-prefixes: true;
$vendor-prefixes: ("-webkit-","-moz-", "-o-", "-ms-");

// ---------------------------------------------
// Font
// ---------------------------------------------

$fonts: (
	heading: #{'Supernormale', sans-serif},
	body: #{"'Open Sans'", sans-serif}
);

// ---------------------------------------------
// Vars
// ---------------------------------------------

$breakpoints: (
    mobile:  320px,
    phablet: 480px,
    tablet:  768px,
    desktop: 992px,
    wide:    1200px,
    huge: 	 2000px
);

// ---------------------------------------------
// Maps
// ---------------------------------------------

$colors: (
	1: #000000,
	2: #222222,
	3: #333333,
	4: #444444,
	5: #555555,
	6: #666666,
	10: #777777,
	11: #000
);

// ---------------------------------------------
// Z-index 
// ---------------------------------------------

$elem-stack: (
	section-headers,
	footerlogos,
	cookiebar,
	news-slider,
	overlay,
	top-nav,
	direction-nav,
	nav-mob-trigger
);
