// ---------------------------------------------
// Directories
// ---------------------------------------------

$dir-font: '../../public/assets/font' !default;
$dir-img: '../assets/img' !default;

// ---------------------------------------------
// Global settings
// ---------------------------------------------

$experimental-support-vendor-prefixes: true;
$vendor-prefixes: ("-webkit-","-moz-", "-o-", "-ms-");

// ---------------------------------------------
// Font
// ---------------------------------------------

$fonts: (
	heading: #{'Supernormale', sans-serif},
	body: #{"'Open Sans'", sans-serif}
);

// ---------------------------------------------
// Vars
// ---------------------------------------------

$breakpoints: (
    mobile:  320px,
    phablet: 480px,
    tablet:  768px,
    desktop: 992px,
    wide:    1200px,
    huge: 	 2000px
);

// ---------------------------------------------
// Maps
// ---------------------------------------------

$colors: (
	00: #00AFE7,
	01: #33BFEC,
	02: #66CFF1,
	03: #99DFF5,
	04: #CCEFFA,

	10: #2A4161,
	11: #556781,
	12: #7F8DA0,
	13: #AAB3C0,
	14: #D4D9DF,

	20: #134E78,
	21: #427193,
	22: #7195AE,
	23: #A1B8C9,
	24: #D0DCE4,

	30: #022F50,
	31: #355973,
	32: #678296,
	33: #9AACB9,
	34: #CCD5DC,

	40: #EAEAEA,
	41: #EEEEEE,
	42: #F2F2F2,
	43: #F7F7F7,
	44: #FBFBFB,
	45: #F6F6F6,

	50: #0F1015,
	51: #3F4044,
	52: #6F7073,
	53: #9F9FA1,
	54: #CFCFD0,

	60: #BF4E2F,
	61: #CC7159,
	62: #D99582,
	63: #E5B8AC,
	64: #F2DCD5,

	selection: #2A4161
);

// ---------------------------------------------
// Z-index 
// ---------------------------------------------

$elem-stack: (
	section-headers,
	footerlogos,
	cookiebar,
	news-slider,
	overlay,
	top-nav,
	direction-nav,
	nav-mob-trigger
);
