<div class="admin-wrapper-main">

    <div class="admin-wrapper-main__topnav">
        <a class="admin-wrapper-main__topnav--link" [routerLink]="['../algemeen']">all</a>
        <a class="admin-wrapper-main__topnav--link" [routerLink]="['add']">create</a>
    </div>

    <section style="margin-top:1.2em">
        <div *ngIf="configs.length < 1" class="admin-wrapper-main__card--fullwidth">
            <div class="admin-wrapper-main__card--title">Current configs</div>
            <p class="admin-wrapper-main__card--content">no ip configs have been set</p>

        </div>
        <div style="border: red dashed 2px; margin:1em; padding:.5em">
            <h2 style="color:red;">!WARNING!</h2>
            <p>Current implementation would send every computer on the same network to the specified channel instead of using
                the network ip. while that is what should be used</p>
        </div>
        <div *ngIf="configs.length > 0" class="admin-wrapper-main__card--fullwidth">
            <div class="admin-wrapper-main__card--title">Current configs</div>
            <div *ngFor="let c of configs">
                <div>name:{{c.name}}</div>
                <!-- easy to identify name: entrance screen ip-->
                <div>ip addres(localip):{{c.ip}}</div>
                <!-- local ip (aka) network ip-->
                <div>channelname{{c.channel}}</div>
                <!-- channel it should 'auto' navigate too-->
                <button (click)="deleteConfig(c.ip)">delete</button>
            </div>
        </div>

    </section>
    <router-outlet></router-outlet>

</div>