.event {
    margin: 30px;
    @include flexbox;
}

.event-tile {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flexbox;
    padding: 30px;
}

.event-tile__border-line {
    margin: 30px;
    background-color: #2a4161;
    width: 1px;
}

.event-tile__message{
    p{
        color: #2a4161;
    }
}