.financial {
    @include flex;
    margin-top: 0px;
    min-height: 66vh;
}

.financial__currency-top {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    @include align-content(center);
    width: calc(100% + 30px);

}

.financial__currency-top-tile {
    background-color: #f7f7f7;
    @include flex(0, 1, 33.3%);
    margin: 0px 15px;
}

.financial__currency-top-tile-title {
    background-color: #2a4161;
    margin-top: 0;
    padding: 10px;
    box-sizing: border-box; 
    @include flexbox;
}

.financial__currency-top-tile-title-icon {
    margin-top: 0;
    i{
        width: 150px;
        height: 150px;
    }
    span{
        color: #f7f7f7;
        margin-left: -90px;
        font-size: 14px;
    }
}

.financial__currency-top-tile-title-content {
     margin-left: auto;
     margin-top: 0;
     margin-right: 15px;
}

.financial__currency-top-tile-title-content-top {
    @include flexbox;
    margin-top: 0;
    h1{
        color: #00afe7;
        font-size: 50px;
        
        &:last-child{
            margin-left: 10px;
            color: #f7f7f7;
        }
    }
}

.financial__currency-top-tile-title-content-bottom{
    @include flexbox;
    span{
        color: #f7f7f7;
        &:last-child{
            margin-left: auto;
        }
    }
}

.financial__currency-top-tile-list{
    font-size: 20px;
    width: 100%;
}

.financial__currency-top-tile-list-item-decrease {
    color: #bf4e2f;
    text-align: center;
}

.financial__currency-top-tile-list-item-increase {
    color: #ADE25D; 
    text-align: center;
}

.financial__currency-bottom-border-line{
    width: 1px;
    height: 410px;
    background-color: #ebebeb;
}

.financial__currency-bottom{
    background-color: #f7f7f7;
    width: calc(100% + 30px);
}

.financial__currency-bottom-tile {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    @include align-content(center);
}
.financial__currency-bottom-tile-list { 
    @include flex(0, 1, 33.3%); 
    margin: 0px 15px;
    // @include flexbox;
    // @include flex-direction(column);
    // @include align-items(stretch);
     padding-left: 0;

    li{
        list-style-type: none;
    }
}

.financial__currency-bottom-tile-list-header {
    list-style-type: none;
    display: flex;
        span {
            color: #2a4161;
            font-weight: bold;
            padding: 5px;

            &:last-child {
                margin-left: auto; 
            }
        }
    }

.financial__currency-bottom-tile-list-item{
    @include flexbox;
    width: 100%;
    padding: 5px;
}

.financial__currency-bottom-tile-list-item-rank{
    color: #2a4161;
    margin-right: 15px;
}

.financial__currency-bottom-tile-list-item-name{
    color: #2a4161;
}

.financial__currency-bottom-tile-list-item-logic{
    margin-left: auto;
}

.financial__currency-bottom-tile-list-item-decrease {
    color: #bf4e2f;
    margin-left: auto;
}

.financial__currency-bottom-tile-list-item-increase {
    color: #ADE25D; //maybe a green instead?
    margin-left: auto;  
}
