.financial {
    @include flex;
    margin-top: 0px;
    min-height: 66vh;
}

.financial__currency-top {
    @include flexbox;
}

.financial__currency-top-tile {
    background-color: #f7f7f7;
    margin: 15px;
    @include flex(0, 1, 30%);
}

.financial__currency-top-tile-title {
    background-color: #2a4161;
    padding: 20px;
    margin-top: 0;
}

.financial__currency-top-tile-title-top {
    @include flexbox;
    margin-top: 0;
    h1{
        color: #00afe7;
        font-size: 50px;

        &:last-child{
            margin-left: auto;
            color: #f7f7f7;
        }
    }
}

.financial__currency-top-tile-title-bottom{
    @include flexbox;
    span{
        color: #f7f7f7;
        &:last-child{
            margin-left: auto;
        }
    }
}

.financial__currency-top-tile-list-item-decrease {
    color: #bf4e2f;
    margin-left: auto;
     &:before{
        //up arrow once icons are setup
    }
}

.financial__currency-top-tile-list-item-increase {
    color: #00afe7; //maybe a green instead?
    margin-left: auto;  
    &:before{
        //up arrow once icons are setup
    }
}



.financial__currency-bottom{
    background-color: #f7f7f7;
    width: 100%;
}

.financial__currency-bottom-tile{
    @include flexbox;
}
.financial__currency-bottom-tile-list{
    @include flex(0, 1, 33%);
    margin: 15px;
    padding: 10px;

    li{
        list-style-type: none;
    }

}

.financial__currency-bottom-tile-list-item{
    @include flexbox;
    width: 100%;
}

.financial__currency-bottom-tile-list-item-rank{
    margin-right: 15px;
    color: #2a4161;
}

.financial__currency-bottom-tile-list-item-name{
    color: #2a4161;
}



.financial__currency-bottom-tile-list-item-decrease {
    color: #bf4e2f;
    margin-left: auto;
     &:before{
        //up arrow once icons are setup
    }
}

.financial__currency-bottom-tile-list-item-increase {
    color: #00afe7; //maybe a green instead?
    margin-left: auto;  
    &:before{
        //up arrow once icons are setup
    }
}
