.news {
    @include flex;
    margin-top: 0px;
    background-color: #EEEEEE;
    min-height: 66vh;
}
.news__item {
    margin: 15px;
    @include inline-flex;
    color: white;
}

#article-1{
    background-color: #022f50;
}

#article-2{
    background-color: #00b0e9;
}

.news__item-content {
    margin: 30px;
}

.news__item-img {
    width: 30%;
    object-fit: cover;
}

.news__item-title {
    color: white;
    font-size: 40px;
}
.news__item-description {
    p{
        color: white;
    }
}
