.news {
    @include flex;
    margin-top: 0px;
    background-color: #022f50;
    min-height: 66vh;
}
.news__item {
    @include inline-flex;
    //@include flex-direction(row);
    color: white;

    .news__item-img {
        min-width: calc(1fr);
        margin: 10px;
    }
    
}
.news__item-title {
    h1{
        color: white;
        font-size: 40px;
    }
}
.news__item-description {
    color: white;

}
