<div class="event" *ngIf="messages?.length >0">
    <div *ngFor="let m of messages">
        <!-- <div class="event-tile" *ngIf="m.img" [ngStyle]="{'background-image':'url( '+m.imgLink +')'}"> -->
        <div class="event-tile" *ngIf="m.img">
            <div class="event-tile__background-img" [ngStyle]="{'background-image':'url( '+m.imgLink +')'}"></div>
            <!-- has a background img (toggled on)-->
            <div class="event-tile__message">
                <h1 class="event-tile__title"> {{m.identifier}} </h1>
                <p> {{m.message}} </p>
            </div> 
        </div>
        <div *ngIf="!m.img"> <!-- when it has "messages" but shouldn't be shown yet-->
            no messages to display
        </div>
    </div>
    
</div>

<div *ngIf="messages?.length == 0"> <!-- only extends when the messages array = empty-->
    Generic welcome message to the visitors of Poort80!  <!-- shows only when no messages! -->
</div>
