<div class="event" *ngIf="messages?.length >0">
    <div *ngFor="let m of messages">
        <!-- <div class="event-tile" *ngIf="m.img" [ngStyle]="{'background-image':'url( '+m.imgLink +')'}"> -->
        <div class="event-tile" *ngIf="m.img" >
            <div class="event-tile__border-line"></div>
            <!-- <div class="event-tile__message">{{m.message}}</div> -->
            <!-- has a background img (toggled on)-->
            <div class="event-tile__message">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis mauris nunc, eget mollis tellus sollicitudin et. Maecenas
                    at nisi consectetur, bibendum odio vitae, pulvinar ipsum. In eu dui nibh. Sed blandit nibh nec orci convallis egestas. Vivamus
                    congue arcu ac ex mattis, sed porttitor massa aliquam. Donec bibendum, augue quis pulvinar tristique, neque eros bibendum
                    arcu, vel egestas elit felis at est. Praesent dignissim gravida pharetra. Nullam semper diam vitae ipsum condimentum molestie
                    nec quis risus. Proin sed auctor sem. Aenean aliquet neque nec tristique varius. Praesent lectus ligula, cursus vel dui in,
                    cursus volutpat eros. Aliquam laoreet massa fringilla, dignissim sem a, tempor lorem. Praesent vehicula aliquam nunc. In
                    hac habitasse platea dictumst. Proin scelerisque lacinia pharetra
                </p>
            </div> 
        </div>
        <div class="event-tile" *ngIf="m.img" [ngStyle]="{'background-image':'url( '+m.imgLink +')'}">
            <div class="event-tile__border-line"></div>
            <!-- <div class="event-tile__message">{{m.message}}</div> -->
            <!-- has a background img (toggled on)-->
            <div class="event-tile__message">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis mauris nunc, eget mollis tellus sollicitudin et. Maecenas
                    at nisi consectetur, bibendum odio vitae, pulvinar ipsum. In eu dui nibh. Sed blandit nibh nec orci convallis
                    egestas. Vivamus congue arcu ac ex mattis, sed porttitor massa aliquam. Donec bibendum, augue quis pulvinar tristique,
                    neque eros bibendum arcu, vel egestas elit felis at est. Praesent dignissim gravida pharetra. Nullam semper diam
                    vitae ipsum condimentum molestie nec quis risus. Proin sed auctor sem. Aenean aliquet neque nec tristique varius.
                    Praesent lectus ligula, cursus vel dui in, cursus volutpat eros. Aliquam laoreet massa fringilla, dignissim sem
                    a, tempor lorem. Praesent vehicula aliquam nunc. In hac habitasse platea dictumst. Proin scelerisque lacinia
                    pharetra
                </p>
            </div>
        </div>
        <div *ngIf="!m.img"> <!-- when it has "messages" but shouldn't be shown yet-->
            no messages to display
        </div>
    </div>
    
</div>

    <div *ngIf="messages?.length == 0"> <!-- only extends when the messages array = empty-->
        no messages to display  <!-- shows only when no messages! -->
    </div>

