<div class="event" *ngIf="messages?.length >0">
    <div *ngFor="let m of messages">
        <!-- <div class="event-tile" *ngIf="m.img" [ngStyle]="{'background-image':'url( '+m.imgLink +')'}"> -->
        <!-- event tile is preventing multiple messages from being shown (shows them on top of each other-->
        <div class="event-tile" *ngIf="m.img">
            <div class="event-tile__background-img" [ngStyle]="{'background-image':'url( '+m.imgLink +')'}"></div>
            <!-- has a background img (toggled on)-->
            <div class="event-tile__message">
                <h1 class="event-tile__title"> {{m.identifier}} </h1>
                <p> {{m.message}} </p>
            </div>
        </div>
        <!-- default message when there is a message but it shouldnt be shown-->
        <div *ngIf="!m.img" class="event-tile">
            <div class="event-tile__message">
                <h1 class="event-tile__title"> Welcome </h1>
                <p> To Poort80! </p>
            </div>
            <!-- shows only when no messages! -->
        </div>
    </div>

</div>

<div class="event" *ngIf="messages?.length == 0">
    <!-- only extends when the messages array = empty-->
    <div class="event-tile">
        <div class="event-tile__message">

            <h1 class="event-tile__title"> Welcome </h1>
            <p> To Poort80! </p>
        </div>
        <!-- shows only when no messages! -->
    </div>
</div>