<div class="weather" id="weather">

	<div class="weather__highlight" id="today">

		<div class="wi wi-yahoo-{{weatherjson[0]?.item.condition.code}} weather__highlight-icon" id="today_icon"></div>
		
		<div>
			<div class="weather__highlight-title">
				<h1 class="weather__highlight-city">Amsterdam</h1> 
				<p class="weather__highlight-date">{{date}}</p>
                <p class="weather__highlight-time">{{time}}</p>
                <!-- the wind icon looks nicer here -->
                <span style="font-size: 35px" class="wi wi-wind from-{{weatherjson[0]?.wind.direction}}-deg"></span>
			</div>
			
			<div class="weather__highlight-wind">
                <!--<span style="font-size: 60px" class="wi wi-wind from-{{weatherjson[0]?.wind.direction}}-deg"></span>
                <span class="wi wi-wind from-{{weatherjson[0]?.wind.direction}}-deg"></span>-->
				<p>{{weatherjson[0]?.wind.speed}} km/h</p>
			</div>

			<div class="weather__highlight-temperature">
	            <p class="wi wi-thermometer"></p> {{weatherjson[0]?.item.condition.temp}}
	            <span class="wi wi-celsius"></span>
	        </div>		
		</div>

	</div>

	<div class="weather__forecast" id="forecast-wrap">

		<div *ngFor="let cast of weatherjson[0]?.item.forecast" class="weather__forecast-item" id="forecast">
			<span class="wi wi-yahoo-{{cast.code}} wi-custom"></span>
			<p>{{cast.day}} {{cast.date}}</p>
			<p>{{cast.low}}-{{cast.high}} <span class="wi wi-celsius"></span></p>
		</div>

	</div>

</div>
