.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    
}
div {
    margin-left: 20px
}
.nav {
    background-color: rgb(102, 94, 94);
    padding: 10px;
}
a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
}
a.active {
    color: white;
}