<div class="admin-wrapper-main">
    <section>
        <div class="admin-wrapper-main__card--fullwidth">
            <h2 class="admin-wrapper-main__card--title">add a new client to the loop</h2>
            <form [formGroup]="websiteForm" class="admin-wrapper-main__card--form">
                <div class="admin-wrapper-main__card--form-group">
                    <label for="client">client:</label>
                    <br>
                    <input class="admin-wrapper-main__card--form-input" #website name="client" type="text" required formControlName="website">
                </div>

                <div>
                    <label for="url">Website's url:</label>

                    <input class="admin-wrapper-main__card--form-input" type="text" name="url" #url required formControlName="url">
                </div>
                <br>
                <button class="button succes" (click)="create(website.value, url.value,{visable: true})" [disabled]="!websiteForm.valid">Add</button>
            </form>
        </div>
    </section>
    <div class="admin-wrapper-main__card--fullwidth">
        <div class="admin-wrapper-main__card--title">Current websites in loop:</div>
        <section>
            <div *ngFor="let item of data; let i = index;">
                
                <div *ngIf="i<=5" class="admin-wrapper-main__card-tiny">
                    <div>
                        <div class="admin-wrapper-main__card--title">
                            <strong>company/ client:</strong>
                        </div>
                        <strong class="admin-wrapper-main__card--content"> {{item.name}}</strong>
                    </div>
                    <div class="admin-wrapper-main__card--content">
                        <a [routerLink]="item.name">
                            <button class="button warning">update</button>
                            <button class="button danger" (click)="delete(item)">delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div *ngFor="let item of data; let i = index;">
                <div *ngIf="i>5 && i<12" class="admin-wrapper-main__card-tiny">
                    <div>
                        <div class="admin-wrapper-main__card--title">
                            <strong>company/ client:</strong>
                        </div>
                        <strong class="admin-wrapper-main__card--content"> {{item.name}}</strong>
                    </div>
                    <div class="admin-wrapper-main__card--content">
                        <a [routerLink]="item.name">
                            <button class="button warning">update</button>
                            <button class="button danger" (click)="delete(item)">delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div *ngFor="let item of data; let i = index;">
                <div *ngIf="i>12 && i<data.length" class="admin-wrapper-main__card-tiny">
                    <div>
                        <div class="admin-wrapper-main__card--title">
                            <strong>company/ client:</strong>
                        </div>
                        <strong class="admin-wrapper-main__card--content"> {{item.name}}</strong>
                    </div>
                    <div class="admin-wrapper-main__card--content">
                        <a [routerLink]="item.name">
                            <button class="button warning">update</button>
                            <button class="button danger" (click)="delete(item)">delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>