$cell-1: 9em;
$cell-2: 15em;
$cell-3: 4em;
$cell-4: 4em;
// setting cell spaces so they stay the same size (these could be changed based on viewports instead of hardcoded)
.table {
    display: grid;
    grid-template-columns: $cell-1 $cell-2 $cell-3 $cell-4;
    grid-template-rows: auto;
    overflow-x: auto;
  }
  #table{
      display: grid;
        grid-template-columns: $cell-1 $cell-2 $cell-3 $cell-4;
    }
