$cell-1: 9em;
$cell-2: 5em;
$cell-3: 4em;
// setting cell spaces so they stay the same size (these could be changed based on viewports instead of hardcoded)
.table {
    display: grid;
      grid-template-columns: minmax(33%, $cell-1) minmax(33%, $cell-2) minmax(33%, $cell-3) ;
  }
  #table{
      display: grid;
      grid-template-columns: minmax(33%, $cell-1) minmax(33%, $cell-2) minmax(33%, $cell-3) ;
    }
