<div class="admin-wrapper-main">
    
        <div class="admin-wrapper-main__topnav">

            <!-- the first link only appears when on a other channel-->
            <a class="admin-wrapper-main__topnav--link" *ngIf="!currentChannel" routerLink="" id="link" routerLinkActive="active">kanaal-home</a>
            <a routerLinkActive="active" class="admin-wrapper-main__topnav--link" routerLink="new">NEW CHANNEL</a>
            <a *ngFor="let c of channel" class="admin-wrapper-main__topnav--link" routerLink="{{c.channel}}" routerLinkActive="active"
                (click)="redirectTo(c.channel)">
                {{c.channel.toUpperCase()}} CHANNEL
                <span class="admin-wrapper-main__topnav--link-remove" (click)="delete(c)">X</span>
            </a>

        </div>


        <div *ngIf="!currentChannel" class="admin-wrapper-main__card">
            <!-- wont set nav to active-->
            <div class="admin-wrapper-main__card--title"></div>
            <p class="admin-wrapper-main__card--contents">
                Here you can create a new channel, or edit/delete a existing one
            </p>
        </div>
        <!-- if on admin/channels display current Channels-->
        <div>
            <router-outlet></router-outlet>
            <!-- just the template-->

        </div>
    

</div>