<div class="admin-channels-contents">
    <section>
        <div>
            <div class="admin-channels-contents__nav">
                <!-- the first link only appears when on a other channel-->
                <a *ngIf="!currentChannel" routerLink="" id="link" routerLinkActive="active">kanaal-home</a>
                <a routerLinkActive="active" routerLink="new">new Channel</a>
                <a *ngFor="let c of channel" routerLink="{{c.channel}}" routerLinkActive="active" (click)="redirectTo(c.channel)">
                    {{c.channel}} Channel
                    <span (click)="delete(c)">X</span>
                </a>

            </div>
            
            
        </div>


        <div *ngIf="!currentChannel">
            <!-- wont set nav to active-->
            <p>
                Here you can create a new channel, or edit/delete a existing one
            </p>
        </div>
        <!-- if on admin/channels display current Channels-->

    </section>
    <div>
        <router-outlet></router-outlet>
        <!-- just the template-->
        
    </div>
</div>