label {
    font-size: 14;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
textarea[formcontrolname="description"] {
        width: 85vw; 
        //float:left;
        width: str;
        min-height: 75px;
        outline: none;
        resize: none;
        border: 1px solid grey;
        
}

input[type=text] {
    border-radius: 5px
 }
 .wrapper {
     //padding: 2em 2em 2em 2em;
     display: block;
 }
form {
     display: grid;
     grid-template-columns: 1fr;
 }
.grid {
        display: grid;
        grid-template-columns: 1fr;
    }
