.main {
    margin-left: 210px; /* 10px more then the width of the sidenav */
    padding-top: 2em;
}
.btn-submit {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
}
#showFrom {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#showTill {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-group {
    display: block;
}
label {
  display: inline-block;
  width: 300px;
}
input {
    width: 400px;
}
input:invalid {
    border-left: 8px solid red;
    //content: '✖';
    padding-left: 5px;
}

input:valid {
    border-left: 10px solid green;
    padding-left: 5px;
}
