<div *ngFor="let edit of data" class="main">

    <form >
        <div class="form-group">
            <label for="id">id</label> <br>
            <input #identifier type="text" name="identifier" required  value="{{edit.identifier}}">
        </div>
        <div class="form-group">
            <label for="message">Message</label> <br>
            <input #message type="text" name="message" value="{{edit.message}}">
        </div>
        <div class="form-group">
            <label for="show">show from</label> <br>
            <input type="text" name="showFrom" #showFrom value="{{edit.showFrom}}" size="25">
        </div>
        <div class="form-group">
            <label for="showTill">show untill</label> <br>
            <input type="text" name="showTill" #showTill value="{{edit.showTill}}" size="25">
        </div>
        <div class="form-group">
            <label for="imgLink">img url</label> <br>
            <input #imgUrl type="text" name="imgLink" required  value="{{edit.imgLink}}">
        </div>
        <div class="form-group">
            <label for="imgBoolean">visability</label> <br>
            <input (click)="check(event)" #imgBoolean checked="{{edit.img}}" type="checkbox" >
        </div>
        
        <button (click)="update(message.value, showFrom.value, showTill.value, imgUrl.value, imgBoolean.checked, identifier.value); alertUser()">edit</button>
    </form>
</div>
