<!-- Important! classes and id's are used in the ts file -->
<div class="admin-channels">
    <section>
        <div>
            <div>
                <!-- remove margin to to be more like navigation-->
                <a routerLinkActive="active" routerLink="entrance">entrance </a>
                <a routerLinkActive="active" routerLink="events">event </a>
                
            </div>
            <div>
                These links above represent data required by their corresponding components
            </div>
        </div>
    </section>
    <router-outlet></router-outlet>
</div>