<!-- Important! classes and id's are used in the ts file -->

   
        <div class="admin-wrapper-main__topnav">
            <!-- remove margin to to be more like navigation-->
            <a class="admin-wrapper-main__topnav--link" routerLinkActive="active" routerLink="entrance">entrance </a>
            <a class="admin-wrapper-main__topnav--link" routerLinkActive="active" routerLink="events">event </a>
        </div>
        <div class="admin-wrapper-main" >
            <router-outlet></router-outlet>
        </div>
    
