<div>
  <h5>the following components can be used:</h5>
  <table>
  <tr>
    <th>name:</th><th>components/x:</th>
  </tr>
  <tr>
    <td>event</td><td>event</td>
  </tr>
  <tr>
    <td>traffic</td><td>traffic</td>
  </tr>
  <tr>
    <td>weather</td><td>weather</td>
  </tr>
  <tr>
    <td>servers</td><td>servers</td>
  </tr>
  <tr>
    <td>  financial</td><td>financial</td>
  </tr>
  <tr>
    <td>  meeting</td><td>meeting</td>
  </tr>
  <tr>
    <td>  support</td><td>support</td>
  </tr>
  <tr>
    <td>loop</td><td>loop</td>
  </tr>
  <tr>
    <td>news</td><td>news</td>
  </tr>
</table>
<p>Most components are only half a page high, Ex: weather and traffic.
  there even is one that is only a moving bar at the bottom of the page (news)
</p>
<p>
  the single components are found at: host/components/name.
  and if you wish to use multiple components on one page you will need the 
  custom route path: host/components/custom/componentname1-componentname2
  as you can see you devide them by using '-' in between!
</p>
</div>
  
