<div class="admin-wrapper-main__card" style="margin-top:0;">
    <h2 class="admin-wrapper-main__card--title">the following components can be used:</h2>
    <table class="admin-wrapper-main__card--content">
        <thead>
            <tr>
                <th>name:</th>
                <th>components/x:</th>
                <th>time required:</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>event</td>
                <td>event</td>
                <td>none</td>
                <td>done</td>
            </tr>
            <tr>
                <td>traffic</td>
                <td>traffic</td>
                <td>none</td>
                <td>styling</td>
            </tr>
            <tr>
                <td>weather</td>
                <td>weather</td>
                <td>none</td>
                <td>done</td>
            </tr>
            
            <tr>
                <td>financial</td>
                <td>financial</td>
                <td>none</td>
                <td>done</td>
            </tr>
            <tr>
                <td>meeting</td>
                <td>meeting</td>
                <td>none</td>
                <td>done</td>
            </tr>
            <tr>
                <td>support</td>
                <td>support</td>
                <td>none</td>
                <td>styling</td>
            </tr>
            <tr>
                <td>loop</td>
                <td>loop</td>
                <td>340 seconds</td>
                <td>done</td>
            </tr>
            <tr>
                <td>news</td>
                <td>news</td>
                <td>none</td>
                <td>done</td>
            </tr>
        </tbody>

    </table>

</div>