@font-face {
  font-family: "Supernormale";
  src: url("../../public/assets/font/348AA7_0_0.eot");
  src: url("../../public/assets/font/348AA7_0_0.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/348AA7_0_0.woff") format("woff"), url("../../public/assets/font/348AA7_0_0.ttf") format("truetype"), url("../../public/assets/font/348AA7_0_0.svg#348AA7_0_0") format("svg");
  font-weight: 400;
  font-style: "normal";
}

@font-face {
  font-family: "Supernormale";
  src: url("../../public/assets/font/348AA7_1_0.eot");
  src: url("../../public/assets/font/348AA7_1_0.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/348AA7_1_0.woff") format("woff"), url("../../public/assets/font/348AA7_1_0.ttf") format("truetype"), url("../../public/assets/font/348AA7_1_0.svg#348AA7_1_0") format("svg");
  font-weight: 600;
  font-style: "normal";
}

@font-face {
  font-family: "Supernormale";
  src: url("../../public/assets/font/348AA7_2_0.eot");
  src: url("../../public/assets/font/348AA7_2_0.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/348AA7_2_0.woff") format("woff"), url("../../public/assets/font/348AA7_2_0.ttf") format("truetype"), url("../../public/assets/font/348AA7_2_0.svg#348AA7_2_0") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Supernormale";
  src: url("../../public/assets/font/348AA7_3_0.eot");
  src: url("../../public/assets/font/348AA7_3_0.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/348AA7_3_0.woff") format("woff"), url("../../public/assets/font/348AA7_3_0.ttf") format("truetype"), url("../../public/assets/font/348AA7_3_0.svg#348AA7_3_0") format("svg");
  font-weight: 700;
  font-style: "normal";
}

@font-face {
  font-family: "Open Sans";
  src: url("../../public/assets/font/OpenSans-Light-webfont.eot");
  src: url("../../public/assets/font/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/OpenSans-Light-webfont.woff") format("woff"), url("../../public/assets/font/OpenSans-Light-webfont.ttf") format("truetype"), url("../../public/assets/font/OpenSans-Light-webfont.svg#OpenSans-Light-webfont") format("svg");
  font-weight: 300;
  font-style: "normal";
}

@font-face {
  font-family: "Open Sans";
  src: url("../../public/assets/font/OpenSans-LightItalic-webfont.eot");
  src: url("../../public/assets/font/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/OpenSans-LightItalic-webfont.woff") format("woff"), url("../../public/assets/font/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../../public/assets/font/OpenSans-LightItalic-webfont.svg#OpenSans-LightItalic-webfont") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../public/assets/font/OpenSans-Regular-webfont.eot");
  src: url("../../public/assets/font/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/OpenSans-Regular-webfont.woff") format("woff"), url("../../public/assets/font/OpenSans-Regular-webfont.ttf") format("truetype"), url("../../public/assets/font/OpenSans-Regular-webfont.svg#OpenSans-Regular-webfont") format("svg");
  font-weight: 400;
  font-style: "normal";
}

@font-face {
  font-family: "Open Sans";
  src: url("../../public/assets/font/OpenSans-Italic-webfont.eot");
  src: url("../../public/assets/font/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/OpenSans-Italic-webfont.woff") format("woff"), url("../../public/assets/font/OpenSans-Italic-webfont.ttf") format("truetype"), url("../../public/assets/font/OpenSans-Italic-webfont.svg#OpenSans-Italic-webfont") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../public/assets/font/OpenSans-Semibold-webfont.eot");
  src: url("../../public/assets/font/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/OpenSans-Semibold-webfont.woff") format("woff"), url("../../public/assets/font/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../../public/assets/font/OpenSans-Semibold-webfont.svg#OpenSans-Semibold-webfont") format("svg");
  font-weight: 600;
  font-style: "normal";
}

@font-face {
  font-family: "Open Sans";
  src: url("../../public/assets/font/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../../public/assets/font/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../../public/assets/font/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../../public/assets/font/OpenSans-SemiboldItalic-webfont.svg#OpenSans-SemiboldItalic-webfont") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../public/assets/font/OpenSans-Bold-webfont.eot");
  src: url("../../public/assets/font/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/OpenSans-Bold-webfont.woff") format("woff"), url("../../public/assets/font/OpenSans-Bold-webfont.ttf") format("truetype"), url("../../public/assets/font/OpenSans-Bold-webfont.svg#OpenSans-Bold-webfont") format("svg");
  font-weight: 700;
  font-style: "normal";
}

@font-face {
  font-family: "Open Sans";
  src: url("../../public/assets/font/OpenSans-BoldItalic-webfont.eot");
  src: url("../../public/assets/font/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/assets/font/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../../public/assets/font/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../../public/assets/font/OpenSans-BoldItalic-webfont.svg#OpenSans-BoldItalic-webfont") format("svg");
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
}

/* Heading
================================================ */
h1, h2, h3, h4, h5, h6 {
  color: #2A4161;
  font-family: Supernormale, sans-serif;
  font-weight: 400;
  margin: 0;
  line-height: 1;
}

/* Paragraph
================================================ */
div, p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #000;
  margin-top: 15px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  div, p {
    font-size: 20px;
  }
}

/* Links
================================================ */
a {
  color: #2A4161;
  font-family: Supernormale, sans-serif;
  outline: none;
  font-size: 20px;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
}

.wrapper {
  margin: 0;
  padding: 0;
  height: calc(100vh - 40px);
}

.wrapper-admin {
  margin-top: 0px;
}

.wrapper-admin section {
  background-color: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 66%;
}

section {
  background-color: #EEEEEE;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.weather {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 66vh;
}

.weather__highlight {
  text-align: center;
  padding-bottom: 10px;
  -webkit-box-flex: 2;
  -webkit-flex: 2 1 auto;
  -moz-box-flex: 2;
  -moz-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
}

.weather__highlight-icon {
  font-size: 50px;
}

.weather__highlight-city {
  display: block;
  font-size: 50px;
}

.weather__highlight-date {
  display: block;
  font-size: 30px;
}

.weather__highlight-time {
  display: block;
  font-size: 30px;
}

.weather__highlight-wind {
  display: inline-block;
  margin-right: 15px;
}

.weather__highlight-temperature {
  display: inline-block;
  margin-left: 15px;
}

.weather__forecast {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.weather__forecast-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 20%;
  -moz-box-flex: 0;
  -moz-flex: 0 1 20%;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  margin-bottom: 30px;
  text-align: center;
}

.weather__forecast-item > span {
  display: block;
}

.weather__forecast-item .wi-custom {
  font-size: 50px;
}

.financial {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 0px;
  min-height: 66vh;
}

.financial__currency-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.financial__currency-top-tile {
  background-color: #f7f7f7;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 31%;
  -moz-box-flex: 0;
  -moz-flex: 0 1 31%;
  -ms-flex: 0 1 31%;
  flex: 0 1 31%;
}

.financial__currency-top-tile-title {
  background-color: #2a4161;
  margin-top: 0;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.financial__currency-top-tile-title-icon {
  margin-top: 0;
}

.financial__currency-top-tile-title-icon i {
  width: 150px;
  height: 150px;
}

.financial__currency-top-tile-title-icon span {
  color: #f7f7f7;
  margin-left: -90px;
  font-size: 14px;
}

.financial__currency-top-tile-title-content {
  margin-left: auto;
  margin-top: 0;
  margin-right: 15px;
}

.financial__currency-top-tile-title-content-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}

.financial__currency-top-tile-title-content-top h1 {
  color: #00afe7;
  font-size: 60px;
}

.financial__currency-top-tile-title-content-top h1:last-child {
  margin-left: 10px;
  color: #f7f7f7;
}

.financial__currency-top-tile-title-content-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.financial__currency-top-tile-title-content-bottom span {
  color: #f7f7f7;
}

.financial__currency-top-tile-title-content-bottom span:last-child {
  margin-left: auto;
}

.financial__currency-top-tile-list {
  font-size: 20px;
  width: 100%;
}

.financial__currency-top-tile-list-item-decrease {
  color: #bf4e2f;
  text-align: center;
}

.financial__currency-top-tile-list-item-increase {
  color: #ADE25D;
  text-align: center;
}

.border-line {
  width: 1px;
  height: 450px;
  background-color: #ebebeb;
}

.financial__currency-bottom {
  background-color: #f7f7f7;
  width: 100%;
}

.financial__currency-bottom-tile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
}

.financial__currency-bottom-tile-list {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33%;
  -moz-box-flex: 0;
  -moz-flex: 0 1 33%;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  margin: 15px;
}

.financial__currency-bottom-tile-list li {
  list-style-type: none;
}

.financial__currency-bottom-tile-list-header {
  list-style-type: none;
  display: flex;
}

.financial__currency-bottom-tile-list-header span {
  color: #2a4161;
  font-weight: bold;
  padding: 5px;
}

.financial__currency-bottom-tile-list-header span:last-child {
  margin-left: auto;
}

.financial__currency-bottom-tile-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px;
}

.financial__currency-bottom-tile-list-item-rank {
  color: #2a4161;
  margin-right: 15px;
}

.financial__currency-bottom-tile-list-item-name {
  color: #2a4161;
}

.financial__currency-bottom-tile-list-item-logic {
  margin-left: auto;
}

.financial__currency-bottom-tile-list-item-decrease {
  color: #bf4e2f;
  margin-left: auto;
}

.financial__currency-bottom-tile-list-item-increase {
  color: #ADE25D;
  margin-left: auto;
}

.news {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 0px;
  background-color: #EEEEEE;
  min-height: 66vh;
}

.news__item {
  margin: 15px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
}

#article-1 {
  background-color: #022f50;
}

#article-2 {
  background-color: #00b0e9;
}

.news__item-content {
  margin: 30px;
}

.news__item-img {
  width: 30%;
  object-fit: cover;
}

.news__item-title {
  color: white;
  font-size: 40px;
}

.news__item-description p {
  color: white;
}

.meeting {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 0px;
  background-color: #2a4161;
  min-height: 66vh;
  padding: 50px;
}

.meeting__top {
  margin-top: 0;
  padding: 50px;
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.meeting__top-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  justify-content: space-evenly;
  padding: 0 50px;
  margin-bottom: 20px;
  margin-top: 0;
}

.meeting__top-heading-title {
  font-size: 50px;
}

.border-line {
  margin-top: 0;
  width: 1px;
  height: 100px;
  background-color: #2a4161;
}

.meeting__top-heading-times {
  margin-top: 0;
}

.meeting__top-attendees {
  color: #2a4161;
}

.meeting__top-description {
  color: #2a4161;
}

.meeting__bottom {
  color: #2a4161;
}

.meeting__bottom-list {
  width: 100%;
}

.meeting__bottom-list-item {
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding: 25px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.meeting__bottom-list-item-title {
  font-family: Supernormale, sans-serif;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  text-align: center;
  z-index: 10;
  font-size: 0;
}

.icon--trend-down-black {
  width: 32px;
  height: 32px;
  background-size: 100% auto;
  background-image: url(../../public/assets/img/icon/trend-down-black.svg);
}

.icon--trend-up-black {
  width: 32px;
  height: 32px;
  background-size: 100% auto;
  background-image: url(../../public/assets/img/icon/trend-up-black.svg);
}

.icon--trend-down-white {
  width: 32px;
  height: 32px;
  background-size: 100% auto;
  background-image: url(../../public/assets/img/icon/trend-down-white.svg);
}

.icon--trend-up-white {
  width: 32px;
  height: 32px;
  background-size: 100% auto;
  background-image: url(../../public/assets/img/icon/trend-up-white.svg);
}

.icon--bar-graph-increase-white {
  width: 32px;
  height: 32px;
  background-size: 100% auto;
  background-image: url(../../public/assets/img/icon/bar-graph-increase-white.svg);
}

.bar-graph-increase-black {
  width: 32px;
  height: 32px;
  background-size: 100% auto;
  background-image: url(../../public/assets/img/icon/bar-graph-increase-black.svg);
}

/*# sourceMappingURL=style.css.map */