@import '~scss/styles.scss';

  #link {
    color: black;
  }
  .grid {
    height: 100vh;
    display: grid;
    // max-width: 50px;
    grid-template-rows: repeat(7, 50px);
    text-align: center;
    position: fixed;
    background-color: #111;
    
  }
  .grid a {
    // padding: 3px 3px 3px 3px;
    min-width: 50px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    padding-top: 1em;
  }
  
  .grid a:hover {
      color: #f1f1f1;
  }
  .menutext {
    position: relative;
    display: inline-block;
}

.menutext .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

 .menutext:active #tooltiptext { // .tooltip:hover .tooltiptext, ...
    visibility: visible;
}
.text {
  color: white;
}