<div *ngIf="router.url == '/channels'">
  <p>
  <a routerLink='test'>go to manual</a>
  <a routerLink='entrance'>go to auto loop</a>
  <a routerLink='finance'>go to auto finance</a>
  <a routerLink='support'>go to auto support</a>
  <a routerLink='entrance/weather'>go to auto weather</a> <!-- need to split it of -->
  <a routerLink='meeting'>go to auto meeting</a>
  <a routerLink='event'>go to auto event</a>
</p>

manual links:
<ul>
  <li><span>✓</span> entrance </li>
  <li><span>✖</span> meeting</li>
  <li> admin: 
    <ul>
      <li>can manage crud operations for: 
        <ul>
          <li><span>✓</span>messages/ events (change it to be a option:holiday, events(uitjes), greetings, more?)</li>
          <li><span>✓</span>websites </li>
        </ul>
      </li>
      <li>can't manage pages: 
        <ul>
          <li><span>✖</span>meeting</li>
          <li><span>✖</span>support</li>
          <li><span>✖</span>build servers</li>
        </ul>
      </li>
      <li> can pull data from: 
        <ul>
          <li><span>✓</span>nu.nl</li>
          <li><span>✓</span>yahoo(weather api)</li>
          <li><span>✓</span>traffic jams (thanks to google maps)</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
auto links: 
<ul>
  <li><span>✓</span> entrance(loop)
    <p><span>-</span> loops if no message to display (greeting)and when time is right but should include messages if it is a holiday <br> (does it allways)</p>
  </li>
  <li></li>
</ul>
<ul>
  TODO: 
  <li>many a thing</li>
</ul>
</div>
<router-outlet></router-outlet>
