<div class="wrapper">
    <section>
        <div class="container">
            <div class="margin">
                <div>
                    <a href="/admin" class="channel-navigation__button">
                        admin
                    </a>
                    changing settings
                </div>
                <div>
                    <a href="/channels" class="channel-navigation__button" >
                        stop
                    </a>
                    stop the current channel selection
                </div>

                <div class="margin">
                    pick/change the channel
                    <div>
                        <a (click)="redirectTo(c.channel)" *ngFor="let c of channel" class="channel-navigation__button margin-left">
                            {{c.channel}}
                        </a>
                    </div>

                </div>

            </div>
            <router-outlet></router-outlet>
        </div>
    </section>
</div>