
<div class="main">
    <form [formGroup]="form" novalidate (ngSubmit)="save(form)">
        <div>
            <label>Channel name:</label><br>
            <input type="text" formControlName="channel" readonly="readonly">
            <small *ngIf="!form.controls.channel.valid" >
                Name is required (minimum 5 characters).
            </small>
        </div>
        <!--paths-->
        <div formArrayName="path">
          <div *ngFor="let path of form.controls.path.controls; let i=index">
            <div>
              <span>path {{i + 1}}</span>
              <span *ngIf="form.controls.path.controls.length > 1" (click)="removePath(i)"></span>
            </div>
            <div  [formGroupName]="i">
              <div>
                <label>path url:</label><br>
                <input type="url" formControlName="pathurl">
                <!--<small [hidden]="form.controls.path.controls[i].controls.pathurl.valid">
                    Street is required
                </small> -->
              </div>
              <div>
                <label>description:</label><br>
                <textarea type="text" formControlName="description" cols="40"></textarea>
                
              </div>
              <div>
                  <label>delay:</label><br>
                  <input type="number" formControlName="delay">
                  <small>
                      1000 = 1 second, so 1 minute = 60000 etc.
                  </small>
                </div>
              <div>
                    <label>component name:</label><br>
                    <input type="text" formControlName="componentName">
                  </div>
                  <a (click)="removePath(i)">
                    <input type="button" value="remove Path">
                  </a>
            </div>
            <br>
          </div>
        </div><br>
        <div class="margin-20">
              <a (click)="addPath()" >
                    <input type="button" value="Add Path">
              </a>
        </div>
    <div class="margin-20">
      <button type="submit" [disabled]="!form.valid">Save</button>
      <small *ngIf="message">{{message}}</small>
    </div>
</form>

</div>
