//--------------------------------------------------------------------
// admin layout
// -------------------------------------------------------------------

.container-admin {
    
    width: 100%;
    margin-top:0px;
    display: grid;
    grid-template-columns: 50px 0 1fr;
    min-height: 100vh;
}
.admin-wrapper-main {
    section {
        background-color: #fff;
    }
    background-color: #fff;
    margin-top: 1em;
    min-height: 100%;
}
.admin-wrapper-main--no-nav {
    section {
        background-color: #fff;
    }
    background-color: #fff;
    margin-top: 0;
    min-height: 100%;
}
//--------------------
// admin topnav
// -------------------
.admin-wrapper-main__topnav {
    position: fixed;
    background-color: darkgrey; //temp
    color:white;//temp
    margin-top:0;
    top:0;
    width: 100%;
    border: 1px solid black
}
.admin-wrapper-main__topnav--link {
    padding-left: 5px;
    color:white;//temp
    
}
.admin-wrapper-main__topnav--link-remove {
    padding-left: 5px;
    color:red;//temp
    
}
//--------------------
// admin card
// -------------------
.admin-wrapper-main__card {
    
    border-radius: 5px;
    background-color: white;
    margin:1em;
    margin-right: 0;
    //padding:1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.admin-wrapper-main__card--contents {
    padding: 10px
}
.admin-wrapper-main__card-tiny {
    margin:1em;
    min-width:30%;
    max-width: 80%;
    float:left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: calc(100% / 6);
}
.admin-wrapper-main__card-tiny--contents {
    padding-left: 10px
}
.admin-wrapper-main__card--fullwidth {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width:80%;//looks better then 100
    margin-top:1em;
    margin-left:1em;
}
.admin-wrapper-main__card--halvewidth {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:40%;
    padding:1em;
}
.admin-wrapper-main__card--title {
    border-radius: 5px 5px 0 0;
    padding-left: 10px;
    margin:0;
    background-color:#00b0e9;//temp
    color:white;
}
.admin-wrapper-main__card--title-item {
    border-radius: 5px 5px 0 0;
    margin:0;
    background-color:grey;//temp
    color:white;
}
.admin-wrapper-main__card--form {
    background-color: white; //temp
    margin:1em;
}
.admin-wrapper-main__card--form-group {
    background-color: white; //temp
}
.admin-wrapper-main__card--form--tooltip {
    position: relative;
    display: inline-block;
}
.admin-wrapper-main__card--form--tooltiptext{
    visibility: hidden;
    max-width: 500px;
    min-width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
//--------------------
// admin tooltip
// -------------------
.admin-wrapper-main__card--form--tooltip:hover .admin-wrapper-main__card--form--tooltiptext{
    visibility: visible;
} 
.admin-wrapper-main__card--form-input {
    margin:5px;
    width:95%;
    resize: none;
    font-size: 17px;
    font-family: Supernormale, sans-serif;
}
//-------------------------------------
//               side-nav (uses grid)
//-------------------------------------
.sidenav{
    #link {
        color: black;
      }
      .grid-side-nav {
        height: 100vh;
        display: grid;
        margin-top: 0px;
        // max-width: 50px;
        grid-template-rows: repeat(7, 50px);
        text-align: center;
        position: fixed;
        background-color: #111;
        
      }
      .grid-side-nav a {
        
        // padding: 3px 3px 3px 3px;
        min-width: 50px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        padding-top: 1em;
      }
      
      .grid-side-nav a:hover {
          color: #f1f1f1;
      }
}

