.channel__top-heading-title {
    margin-bottom: .25em;
    padding: 30px;
    font-size: 50px;
    text-align: center;
    background-color: #fff;
    margin-left: 2em;
    margin-right: 2em;
}

.channel__top-heading-title2 {
    background-color: #fff;
    margin-top: .25em;
    margin-bottom: .25em;
    font-size: 40px;
    text-align: center;
    padding: 25px;
    margin-left: 3em;
    margin-right: 3em;
}

.channel-navigation__button {
    padding: 20px 40px;
    font-size: 32px;
    font-family: Arial, sans-serif;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #EEEEEE;

    &:hover {
        cursor: pointer;
    }
}

.center {
    text-align: center;
}

.channel__layout--double-col {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin-top: 0;
}

.channel__layout--triple-col {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

@media (min-width: 768px) {
    .channel__layout--double-col {
        grid-template-columns: 1fr 1fr;
    }

    .channel__layout--triple-col {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 0;
    }
}

.button__margin--top {
    margin: 3px;
}

.container__background {
    background-color: #00b0e9;
    padding-top:.5em;
}
