.channel-navigation__button {
    padding: 20px 40px;
    font-size: 32px;
    font-family: Arial, sans-serif;
    display: inline-block;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }
}

.channel-navigation__button:before {
    //content: '';
    background: green;
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.3s linear;
    z-index: -1;
}

.channel-navigation__button:hover:before {
    width: 100%;
}

.margin-left {
    &:first-child {
        margin-left: 0em;
    }
    margin-left: 1em;
}
