// ---------------------------------------------
//  channel & component wrapper
// ---------------------------------------------
.wrapper {
	margin: 0;
	padding: 0;
//	border: 20px solid #2A4161;
	// height: calc(100vh - 40px);
	height: 100vh;
}

// ---------------------------------------------
//  admin wrapper
// ---------------------------------------------

.wrapper-admin {
    margin: 0;
	padding: 0;
//	border: 20px solid #2A4161;
	// height: calc(100vh - 40px);
	height: 100vh;
}
