<div class="main">
  not yet looked at need to access all relevant poort80 agenda's <br>
  include: clients, devmeetings <br>
  exclude standups? <br>
  Options:
  <ul>
    <li>Outlook Api: This would mean people would have to add 1 account to every meeting they would like to see on this page.</li>
    <li>Adding a meeting manually: If for instance a client comes over or for meetings that are set some (short) time in advance (like dev meeting)</li>
    <li>mix: this would be a automated way that has a cms as fall back</li>
  </ul>
</div>
