<app-admin-side-nav></app-admin-side-nav>

<section class="main">
  quick navigation? and or something else <br>
  TODO: <ul>
    <li>change navigation font to something decent</li>
    <li>add icons to navigation and or buttons</li>
    <li>
      add functionality too:
      <ul>
        <li>Dashboard (this page)</li>
        <li>settings</li>
        <li>channels (crud operations both front and back</li>
        <li>add docs here or somewhere else (place holder)</li>
      </ul>
    </li>
  </ul>
</section>
<router-outlet></router-outlet>