<div class="admin-layout--no-nav">
    <section>
        <div class="admin-layout__card">
            <h2 class="admin-layout__card--title">Welcome!</h2>
            <p class="admin-layout__card--contents">here you can </p>
            <p class="admin-layout__card--contents">this is the dashboard where you can setup/edit channels</p>
            <p class="admin-layout__card--contents">
                <span class="fas fa-envelope"></span>
                here you can edit the message shown by the 'event component' this component has the ability to display
                a message between x day/time and y day time.
                for instance when a client from pathe comes over for a meeting the screen can 'greet' him.
            </p>
            <p class="admin-layout__card--contents">
                 <span class="fas fa-images"></span>
                here you can add images used really only for the greeter for instance when it almost xmas it can show a
                xmassy themed background image
            </p>
            <p class="admin-layout__card--contents">
                <span class="fas fa-code-branch"></span>
                this is where you can setup the channels you can choose from either the 6 specialised components:
            </p>
            <ul>
                <li>meeting</li>
                <li>news</li>
                <li>event (greeter)</li>
                <li>traffic</li>
                <li>weather</li>
                <li>bitcoin(financial)</li>
            </ul>
            <p class="admin-layout__card--contents">or just go to a website created by poort 80 by adding the url</p>
        </div>
    </section>
</div>