<div class="main">
  <h2>Message's</h2>
  new:
  
  <div class="container">
      <form (ngSubmit)="create(message.value, showFrom.value, showTill.value, imgUrl.value, imgBoolean.checked, id.value); eventForm.reset()" [formGroup]="eventForm">
        <div class="form-group">
          <label for="id">id</label> <br>
          <input #id type="text" name="identifier" formControlName="id" required>
        </div>
        <div class="form-group">
          <label for="message">message:</label> <br>
          <input #message type="text" required formControlName="message"> 
        </div> 
        <div class="form-group">
          <label for="showFrom">zichtbaar van af:</label> <br>
          <input class="validity" type="datetime-local" name="showFrom" #showFrom id="showFrom" required formControlName="showFrom">
          <!--<span class="validity"></span>  visual validation only-->
        </div>
        <div class="form-group">
          <label for="showTill">zichtbaar tot:</label> <br>
          <input type="datetime-local" name="showTill" #showTill id="showTill" required formControlName="showTill">
          <span class="validity"></span>
        </div>
        <div class="form-group">
          <label for="imgUrl">achtergrond img:</label> <br>
          <input #imgUrl type="text" formControlName="imgUrl">
        </div>
        <div class="form-group">
            <label for="imgBoolean">visable</label> <br>
          <input (click)="check(event)" #imgBoolean type="checkbox">
        </div>
        <button type="submit" class="button succes"
        [disabled]="!eventForm.valid">Add</button>
      </form>
  </div>
  
    <table>
      <th>identifier</th>
      <th>Message</th>
      <th>show (from-untill)</th>
      <th>img url</th>
      <th>visable</th>
      <th>update</th>
      <th>delete</th>
      <tr *ngFor="let message of data">
        <td>{{message.identifier}}</td>
        <td>{{message.message}}</td>
        <td>{{message.showFrom}} untill: {{message.showTill}}</td>
        <td>{{message.imgLink}}</td>
        <td>{{message.img}}</td>
        <td><a [routerLink]='message.identifier' ><button>update</button></a></td>
        <td><button (click)="delete(message)">delete</button></td>
      </tr>
    </table>
    
</div>
<app-image-view></app-image-view>