<!-- Important! classes and id's are used in the ts file -->
<div *ngFor="let edit of data" class="admin-wrapper-main">
    <section>
        <div class="admin-wrapper-main__card">
            <h2 class="admin-wrapper-main__card--title">edit message</h2>
            
            <form class="admin-wrapper-main__card--form" (ngSubmit)="update(message.value, showFrom.value, showTill.value, imgUrl.value, imgBoolean.checked, id.value);"
                [formGroup]="form">
                <div class="admin-wrapper-main__card--form-group">
                    <label for="id">message name:
                        <span class="admin-wrapper-main__card--form--tooltip">
                            &#9432;
                            <div class="admin-wrapper-main__card--form--tooltiptext">
                                doubles as a title and a identifier
                            </div>
                        </span>
                    </label>
                    <input class="admin-wrapper-main__card--form-input" #id type="text" name="identifier" formControlName="id"
                        required value="{{edit.identifier}}">
                    <div *ngIf="f.id.touched && f.id.errors" class="admin-wrapper-main__card--form-error">
                        <div *ngIf="f.id.errors.required">A message name is required</div>
                        <div *ngIf="f.id.errors.minlength">The message name must be longer then 5 characters</div>
                    </div>
                </div>
                <div class="admin-wrapper-main__card--form-group">
                    <label for="message">message: <span class="admin-wrapper-main__card--form--tooltip">
                        &#9432;
                        <div class="admin-wrapper-main__card--form--tooltiptext">
                            the message
                        </div>
                    </span></label>
                    <input class="admin-wrapper-main__card--form-input" #message type="text" name="message" value="{{edit.message}}" required formControlName="message">
                    <div *ngIf="f.message.touched && f.message.errors" class="admin-wrapper-main__card--form-error">
                        <div *ngIf="f.message.errors.required">A message has to be set</div>
                    </div>
                </div>
                <div class="admin-wrapper-main__card--form-group">
                    <label for="showFrom">zichtbaar van af:
                        <span class="admin-wrapper-main__card--form--tooltip">
                            &#9432;
                            <div class="admin-wrapper-main__card--form--tooltiptext">
                                the start date/time the message is visable
                            </div>
                        </span>
                    </label>
                    <input class="admin-wrapper-main__card--form-input" type="datetime-local" name="showFrom" #showFrom id="showFrom"
                        required formControlName="showFrom" value="{{edit.showFrom}}">
                    <div *ngIf="f.showFrom.touched && f.showFrom.errors" class="admin-wrapper-main__card--form-error">
                        <div *ngIf="f.showFrom.errors.required">A start date/time has to be set</div>
                        <div *ngIf="f.showFrom.errors.pattern">please fill in both time and date currently is {{showFrom.value}}</div>
                    </div>
                </div>
                <div class="admin-wrapper-main__card--form-group">
                    <label for="showTill">zichtbaar tot:
                        <span class="admin-wrapper-main__card--form--tooltip">
                            &#9432;
                            <div class="admin-wrapper-main__card--form--tooltiptext">
                                the end date/time the message is visable
                            </div>
                        </span>
                    </label>
                    <input class="admin-wrapper-main__card--form-input" type="datetime-local" name="showTill" #showTill id="showTill"
                        required formControlName="showTill" value="{{edit.showTill}}">
                    <div *ngIf="f.showTill.touched && f.showTill.errors" class="admin-wrapper-main__card--form-error">
                        <div *ngIf="f.showTill.errors.required">A end date/time has to be set</div>
                        <div *ngIf="f.showTill.errors.pattern">please fill in both time and date</div>
                    </div>
                </div>
                <div class="admin-wrapper-main__card--form-group">
                    <label for="imgUrl">achtergrond img:
                        <span class="admin-wrapper-main__card--form--tooltip">
                            &#9432;
                            <div class="admin-wrapper-main__card--form--tooltiptext">
                                a optional background img,
                            </div>
                        </span>
                    </label>
                    <input class="admin-wrapper-main__card--form-input" #imgUrl type="text" formControlName="imgUrl" value="{{edit.imgUrl}}">
                    <div *ngIf="f.imgUrl.touched && f.imgUrl.errors" class="admin-wrapper-main__card--form-error">
                        <div *ngIf="f.imgUrl.errors.pattern">the img url has to be relative: /images/img/$name</div>
                    </div>
                </div>
                <div class="admin-wrapper-main__card--form-group">
                    <label for="imgBoolean">visability:
                        <span class="admin-wrapper-main__card--form--tooltip">
                            &#9432;
                            <div class="admin-wrapper-main__card--form--tooltiptext">
                                manualy setting this to be visable
                            </div>
                        </span>
                    </label>
                    <input (click)="check(event)" #imgBoolean checked="{{edit.img}}" type="checkbox">
                </div>
                <button type="submit" class="button succes" [disabled]="!form.valid">Add</button>
            </form>
        </div>
    </section>
    <app-image-view></app-image-view>
</div>
<!-- images to choose from for the background-->
