<div class="financial">

    <div class="financial__currency-top">

        <div class="financial__currency-top-tile">
            <div class="financial__currency-top-tile-title">
                <!-- Show the bar increase or decrease icon depending on whether the amount is negative or positive -->
                <div *ngIf="!bitVal[0].percent_change_24h.includes('-');" class="financial__currency-top-tile-title-icon">
                    <i class="icon icon--trend-up-white">
                        <span>24 hrs</span>
                    </i>
                </div>
                <div *ngIf="bitVal[0].percent_change_24h.includes('-');" class="financial__currency-top-tile-title-icon">
                    <i class="icon icon--trend-down-white">
                        <span>24 hrs</span>
                    </i>
                </div>
                <div class="financial__currency-top-tile-title-content">
                    <div class="financial__currency-top-tile-title-content-top">
                        <h1>{{bitVal[0].rank}}</h1>
                        <h1>{{bitVal[0].name}}</h1>
                    </div>
                    <div class="financial__currency-top-tile-title-content-bottom">
                        <span>&euro;{{bitVal[0].price_eur}}</span>
                    </div>
                </div>
            </div>
            <table class="financial__currency-top-tile-list">
                <tr>
                    <th> 1h</th>
                    <th> 24h</th>
                    <th> 7d</th>
                </tr>
                <tr>
                    <td class="financial__currency-top-tile-list-item-decrease" *ngIf="bitVal[0].percent_change_1h.includes('-');">{{bitVal[0].percent_change_1h}}</td>
                    <td class="financial__currency-top-tile-list-item-increase" *ngIf="!bitVal[0].percent_change_1h.includes('-');">{{bitVal[0].percent_change_1h}}</td>
                    <td class="financial__currency-top-tile-list-item-decrease" *ngIf="bitVal[0].percent_change_24h.includes('-');">{{bitVal[0].percent_change_24h}}</td>
                    <td class="financial__currency-top-tile-list-item-increase" *ngIf="!bitVal[0].percent_change_24h.includes('-');">{{bitVal[0].percent_change_24h}}</td>
                    <td class="financial__currency-top-tile-list-item-decrease" *ngIf="bitVal[0].percent_change_7d.includes('-');">{{bitVal[0].percent_change_7d}}</td>
                    <td class="financial__currency-top-tile-list-item-increase" *ngIf="!bitVal[0].percent_change_7d.includes('-');">{{bitVal[0].percent_change_7d}}</td>
                </tr>
            </table>
        </div>


        <div class="financial__currency-top-tile">
            <div class="financial__currency-top-tile-title">
                <!-- Show the bar increase or decrease icon depending on whether the amount is negative or positive -->
                <div *ngIf="!bitVal[1].percent_change_24h.includes('-');" class="financial__currency-top-tile-title-icon">
                    <i class="icon icon--trend-up-white">
                        <span>24 hrs</span>
                    </i>
                </div>
                <div *ngIf="bitVal[0].percent_change_24h.includes('-');" class="financial__currency-top-tile-title-icon">
                    <i class="icon icon--trend-down-white">
                        <span>24 hrs</span>
                    </i>
                </div>
                <div class="financial__currency-top-tile-title-content">
                    <div class="financial__currency-top-tile-title-content-top">
                        <h1>{{bitVal[1].rank}}</h1>
                        <h1>{{bitVal[1].name}}</h1>
                    </div>
                    <div class="financial__currency-top-tile-title-content-bottom">
                        <span>&euro;{{bitVal[1].price_eur}}</span>
                    </div>
                </div>
            </div>
            <table class="financial__currency-top-tile-list">
                <tr>
                    <th> 1h</th>
                    <th> 24h</th>
                    <th> 7d</th>
                </tr>
                <tr>
                    <td class="financial__currency-top-tile-list-item-decrease" *ngIf="bitVal[1].percent_change_1h.includes('-');">{{bitVal[1].percent_change_1h}}</td>
                    <td class="financial__currency-top-tile-list-item-increase" *ngIf="!bitVal[1].percent_change_1h.includes('-');">{{bitVal[1].percent_change_1h}}</td>
                    <td class="financial__currency-top-tile-list-item-decrease" *ngIf="bitVal[1].percent_change_24h.includes('-');">{{bitVal[1].percent_change_24h}}</td>
                    <td class="financial__currency-top-tile-list-item-increase" *ngIf="!bitVal[1].percent_change_24h.includes('-');">{{bitVal[1].percent_change_24h}}</td>
                    <td class="financial__currency-top-tile-list-item-decrease" *ngIf="bitVal[1].percent_change_7d.includes('-');">{{bitVal[1].percent_change_7d}}</td>
                    <td class="financial__currency-top-tile-list-item-increase" *ngIf="!bitVal[1].percent_change_7d.includes('-');">{{bitVal[1].percent_change_7d}}</td>
                </tr>
            </table>
        </div>

        <div class="financial__currency-top-tile">
            <div class="financial__currency-top-tile-title">
                <!-- Show the bar increase or decrease icon depending on whether the amount is negative or positive -->
                <div *ngIf="!bitVal[2].percent_change_24h.includes('-');" class="financial__currency-top-tile-title-icon">
                    <i class="icon icon--trend-up-white">
                        <span>24 hrs</span>
                    </i>
                </div>
                <div *ngIf="bitVal[0].percent_change_24h.includes('-');" class="financial__currency-top-tile-title-icon">
                    <i class="icon icon--trend-down-white">
                        <span>24 hrs</span>
                    </i>
                </div>
                <div class="financial__currency-top-tile-title-content">
                    <div class="financial__currency-top-tile-title-content-top">
                        <h1>{{bitVal[2].rank}}</h1>
                        <h1>{{bitVal[2].name}}</h1>
                    </div>
                    <div class="financial__currency-top-tile-title-content-bottom">
                        <span>&euro;{{bitVal[2].price_eur}}</span>
                    </div>
                </div>
            </div>
            <table class="financial__currency-top-tile-list">
                <tr>
                    <th> 1h</th>
                    <th> 24h</th>
                    <th> 7d</th>
                </tr>
                <tr>
                    <td class="financial__currency-top-tile-list-item-decrease" *ngIf="bitVal[2].percent_change_1h.includes('-');">{{bitVal[2].percent_change_1h}}</td>
                    <td class="financial__currency-top-tile-list-item-increase" *ngIf="!bitVal[2].percent_change_1h.includes('-');">{{bitVal[2].percent_change_1h}}</td>
                    <td class="financial__currency-top-tile-list-item-decrease" *ngIf="bitVal[2].percent_change_24h.includes('-');">{{bitVal[2].percent_change_24h}}</td>
                    <td class="financial__currency-top-tile-list-item-increase" *ngIf="!bitVal[2].percent_change_24h.includes('-');">{{bitVal[2].percent_change_24h}}</td>
                    <td class="financial__currency-top-tile-list-item-decrease" *ngIf="bitVal[2].percent_change_7d.includes('-');">{{bitVal[2].percent_change_7d}}</td>
                    <td class="financial__currency-top-tile-list-item-increase" *ngIf="!bitVal[2].percent_change_7d.includes('-');">{{bitVal[2].percent_change_7d}}</td>
                </tr>
            </table>
        </div>

    </div>


    <div class="financial__currency-bottom">

        <div class="financial__currency-bottom-tile">
            <!--List of seven currencues here -->
            <ul class="financial__currency-bottom-tile-list">
                <li class="financial__currency-bottom-tile-list-header">
                    <span>#</span>
                    <span>24h</span>
                </li>
                <li>
                    <div *ngFor="let bit of bitVal; index as i">
                        <div *ngIf="i>2 && i<10 " class="financial__currency-bottom-tile-list-item">
                            <span class="financial__currency-bottom-tile-list-item-rank">{{bitVal[i].rank}}</span>
                            <span class="financial__currency-bottom-tile-list-item-name">{{bitVal[i].name}}</span>
                            <span class="financial__currency-bottom-tile-list-item-decrease" *ngIf="bitVal[i].percent_change_24h.includes('-');">{{bitVal[i].percent_change_24h}}</span>
                            <span class="financial__currency-bottom-tile-list-item-increase" *ngIf="!bitVal[i].percent_change_24h.includes('-');">{{bitVal[i].percent_change_24h}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- the next seven currencies -->
            <div class="border-line"></div>
            <ul id="middle-list" class="financial__currency-bottom-tile-list">
                <li class="financial__currency-bottom-tile-list-header">
                    <span>#</span>
                    <span>24h</span>
                </li>
                <li>
                    <div *ngFor="let bit of bitVal; index as i">
                        <div *ngIf="i>9 && i<17 " class="financial__currency-bottom-tile-list-item">
                            <span class="financial__currency-bottom-tile-list-item-rank">{{bitVal[i].rank}}</span>
                            <span class="financial__currency-bottom-tile-list-item-name">{{bitVal[i].name}}</span>
                            <span class="financial__currency-bottom-tile-list-item-decrease" *ngIf="bitVal[i].percent_change_24h.includes('-');">{{bitVal[i].percent_change_24h}}</span>
                            <span class="financial__currency-bottom-tile-list-item-increase" *ngIf="!bitVal[i].percent_change_24h.includes('-');">{{bitVal[i].percent_change_24h}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="border-line"></div>
            <!--  the final seven currencies -->
            <ul class="financial__currency-bottom-tile-list">
                <li class="financial__currency-bottom-tile-list-header">
                    <span>#</span>
                    <span>24h</span>
                </li>
                <li>
                    <div *ngFor="let bit of bitVal; index as i">
                        <div *ngIf="i>16 && i<24 " class="financial__currency-bottom-tile-list-item">
                            <span class="financial__currency-bottom-tile-list-item-rank">{{bitVal[i].rank}}</span>
                            <span class="financial__currency-bottom-tile-list-item-name">{{bitVal[i].name}}</span>
                            <span class="financial__currency-bottom-tile-list-item-decrease" *ngIf="bitVal[i].percent_change_24h.includes('-');">{{bitVal[i].percent_change_24h}}</span>
                            <span class="financial__currency-bottom-tile-list-item-increase" *ngIf="!bitVal[i].percent_change_24h.includes('-');">{{bitVal[i].percent_change_24h}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>