$third: 50vh/6; // component needs to be 50vh and has 6 rows;
.info {
    display: grid;
    grid-template-rows: auto 0 auto;
    text-align: center;
    span {
        min-height: $third;
    }
    table{
        min-height: $third;
        .down {
            background-color: orangered;
        }
        .up {
            background-color: lime;
        }
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(8,1fr)
}