<div class="admin-wrapper-main">
    <section>
        <div class="admin-wrapper-main__card--fullwidth">
            
                <h2 class="admin-wrapper-main__card--title">add a new 'device'</h2>
                <p>your localNetwork ip ={{ipAddress}}</p>
            
            <form class="admin-wrapper-main__card--form">
                <div>
                    <label for="ip">ip</label>
                    <input #ip type="text" class="admin-wrapper-main__card--form-input">
                </div>
                <div>
                    <label for="channel">channel</label>
                    <input #channel type="text" class="admin-wrapper-main__card--form-input">
                </div>
                <div>
                    <label for="name">name</label>
                    <input #name type="text" class="admin-wrapper-main__card--form-input">
                </div>
                <button type="submit" (click)="addIpConfig(
                    {ip:ip.value.trim(), channel:channel.value,name:name.value}
                    )">submit</button>
            </form>
        </div>
    </section>

</div>