<section class="admin-layout__layout--single-col">
    <div class="admin-layout__card">
        <h2 class="admin-layout__card--title">Create a channel</h2>

        <form [formGroup]="form" novalidate class="admin-layout__layout--double-col">
            <!--class="admin-layout__card--form"-->
            <div class="admin-layout__card">
                <label>Channel name:
                    <span class="admin-layout__card--form-tooltip">
                        <span>&#9432;</span>
                        <div class="admin-layout__card--form-tooltiptext">
                            this name is what you will use the select the channel after it is setup so make sure it is descriptive.
                        </div>
                    </span>
                </label>
                <input type="text" formControlName="channel" class="admin-layout__card--form-input">
                <div *ngFor="let validation of form_validation_messages.channel" class="admin-layout__card--form-error">
                    <div *ngIf="form.get('channel').hasError(validation.type) && form.get('channel').touched">
                        {{validation.message}}
                    </div>
                </div>
                <div>
                    <button class="button succes" (click)="save(form)" type="submit" [disabled]="!form.valid">Create</button>
                    <a (click)="addPath()">
                        <input class="button succes" type="button" value="Add slide">
                    </a>
                </div>
            </div>
            <!--slides-->
            <div formArrayName="path" class="admin-layout__layout--triple-col" [sortablejs]="form.value.path">
                <div *ngFor="let path of f.path['controls']; let i=index" class="admin-layout__card " >
                    <div class="admin-layout__card--form-group">
                        <span class="--dragable">slide {{i + 1}}</span>
                        <span *ngIf="f.path.controls.length > 1" (click)="removePath(i)"></span>
                    </div>
                    <div [formGroupName]="i">
                        <div class="admin-layout__card--form-group">
                            <label>slide url:
                                <span class="admin-layout__card--form-tooltip">
                                    &#9432;
                                    <div class="admin-layout__card--form-tooltiptext">
                                        Either use a url like: https:www.example.com or select a component from the dropdown below.
                                    </div>
                                </span>
                            </label>

                            <input type="text" formControlName="pathurl" class="admin-layout__card--form-input-test"
                                [value]="form.get('path').controls[i].get('pathurl').value">
                            <select formControlName="pathurl" class="select">
                                <option style="display:none">select a category</option>
                                <option *ngFor="let item of components" (click)="form.path[i].controls.patchValue({ pathurl: item.url, componentName:item.name},
                                                           {onlySelf: true, emitEvent: true, emitModelToViewChange: true,
                                                             emitViewToModelChange: true})"
                                    [value]="item.url">{{item.name}}</option>
                            </select>
                            <button (click)="testUrl(form.get('path').controls[i].get('pathurl').value)">test</button>
                            <div *ngFor="let validation of form_validation_messages.pathUrl" class="admin-layout__card--form-error">
                                <div *ngIf="form.get('path').controls[i].get('pathurl').hasError(validation.type) && form.get('path').controls[i].get('pathurl').touched">
                                    {{validation.message}}
                                </div>
                            </div>
                        </div>
                        <div class="admin-layout__card--form-group">
                            <label>description:
                                <span class="admin-layout__card--form-tooltip">
                                    &#9432;
                                    <div class="admin-layout__card--form-tooltiptext">
                                        this step is optional but it is nice to add a short description of what the purpose is of the component
                                    </div>
                                </span>
                            </label>
                            <input type="text" formControlName="description" value="Does this and that" class="admin-layout__card--form-input" />
                            <div *ngFor="let validation of form_validation_messages.description" class="admin-layout__card--form-error">
                                <div *ngIf="form.get('path').controls[i].get('description').hasError(validation.type)">
                                    {{validation.message}}
                                </div>
                            </div>
                        </div>
                        <div class="admin-layout__card--form-group">
                            <label>delay:
                                <span class="admin-layout__card--form-tooltip">
                                    &#9432;
                                    <div class="admin-layout__card--form-tooltiptext">
                                        this is the time the component is shown in seconds
                                    </div>
                                </span>
                            </label>
                            <input type="number" formControlName="delay" class="admin-layout__card--form-input">
                            <div *ngFor="let validation of form_validation_messages.delay" class="admin-layout__card--form-error">
                                <div *ngIf="form.get('path').controls[i].get('delay').hasError(validation.type)">
                                    {{validation.message}}
                                </div>
                            </div>
                        </div>
                        <div class="admin-layout__card--form-group">
                            <label>component name:
                                <span class="admin-layout__card--form-tooltip">
                                    &#9432;
                                    <div class="admin-layout__card--form-tooltiptext">
                                        allows you to customize the default name, again a optional step
                                    </div>
                                </span>
                            </label>
                            <input type="text" formControlName="componentName" class="admin-layout__card--form-input">
                            <div *ngFor="let validation of form_validation_messages.componentName" class="admin-layout__card--form-error">
                                <div *ngIf="form.get('path').controls[i].get('componentName').hasError(validation.type)">
                                    {{validation.message}}
                                </div>
                            </div>
                        </div>
                        <div class="admin-layout__card--form-group" formGroupName="show">
                            <label>visable times:</label>
                            <div>
                                <input type="checkbox" checked="true" formControlName="allways" id=""> show allways
                                <div *ngIf="!form.get('path').controls[i].get('show.allways').value">
                                    or between <input type="time" formControlName="timefrom" id="">and <input type="time"
                                        formControlName="timetill" id="">
                                    <div formGroupName="days">
                                        <div>
                                            <input type="checkbox" checked="true" formControlName="monday" id="">
                                            monday
                                        </div>
                                        <div>
                                            <input type="checkbox" checked="true" formControlName="tuesday" id="">
                                            tuesday
                                        </div>
                                        <div>
                                            <input type="checkbox" checked="true" formControlName="wednesday" id="">
                                            wednesday
                                        </div>
                                        <div>
                                            <input type="checkbox" checked="true" formControlName="thursday" id="">
                                            thursday
                                        </div>
                                        <div>
                                            <input type="checkbox" checked="true" formControlName="friday" id="">
                                            friday
                                        </div>
                                        <div>
                                            <input type="checkbox" checked="true" formControlName="saturday" id="">
                                            saturday
                                        </div>
                                        <div>
                                            <input type="checkbox" checked="true" formControlName="sunday" id="">
                                            sunday
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <a (click)="removePath(i)">
                            <input type="button" class="button warning" value="Remove Slide">
                        </a>
                    </div>
                    <br>
                </div>
            </div>
        </form>
    </div>
</section>