
<div *ngFor="let bit of bitVal" class="info">
    <span>Rank: {{bit.rank}} Name: {{bit.name}} &euro;{{bit.price_eur}}</span> <br>
    {{this.percentChangeDay}}<br>
    <table>
            <th>&plusmn;% 1h</th>
            <th>&plusmn;% 24h</th>
            <th>&plusmn;% 7d</th>
        <tr>
            <td class="down" *ngIf="bit.percent_change_1h.includes('-');">{{bit.percent_change_1h}}</td>
            <td class="up" *ngIf="!bit.percent_change_1h.includes('-');">{{bit.percent_change_1h}}</td>
            <td class="down" *ngIf="bit.percent_change_24h.includes('-');">{{bit.percent_change_24h}}</td>
            <td class="up" *ngIf="!bit.percent_change_24h.includes('-');">{{bit.percent_change_24h}}</td>
            <td class="down" *ngIf="bit.percent_change_7d.includes('-');">{{bit.percent_change_7d}}</td>
            <td class="up" *ngIf="!bit.percent_change_7d.includes('-');">{{bit.percent_change_7d}}</td>
        </tr>
    </table>
</div>

