<!-- auto version -->
<section>
  <div *ngIf="time">
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <ngui-map zoom="12" center="Amsterdam ijburg, Netherlands">
      <traffic-layer></traffic-layer>
    </ngui-map>
    <div class="ticker-wrap">
        <div class="ticker" >
          <div class="ticker__item" *ngFor="let last of news">{{last.title}}</div>
        </div>
    </div>
    <app-weather></app-weather> <!-- weather component-->
      
      -->ov kan niet zolang er geen vaste host is <br>
      <p>checkt nog niet of de tijd veranderd is</p>
  </div>
  <div *ngIf="!time">
    should be looping through websites
  </div>
  <div *ngIf="time === 'past 6'">
    if it is past 6 i am shown (though the screen is most likely turned off)
    <p>checkt nog niet of de tijd veranderd is</p>
  </div>
  <p>
    
  </p>
    <!-- used for opening windows -->
    <span id="urls" hidden="true" *ngFor="let c of websites">{{c.url}}</span>
</section>
