<section>
  <div *ngIf="time">
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <ngui-map zoom="12" center="Amsterdam ijburg, Netherlands">
        <traffic-layer></traffic-layer>
      </ngui-map>
      
      <iframe src="https://gadgets.buienradar.nl/gadget/zoommap/?lat=52.36246&lng=4.97656&overname=2&zoom=13&naam=1086 XP&size=3&voor=1" scrolling=no width=550 height=512 frameborder=no></iframe>
      ov kan niet zolang er geen vaste host is <br>
      <p>checkt nog niet of de tijd veranderd is</p>
  </div>
  <div *ngIf="!time">
    should be looping through websites
  </div>
  <div *ngIf="time === 'past 6'">
    if it is past 6 i am shown (though the screen is most likely turned off)
    <p>checkt nog niet of de tijd veranderd is</p>
  </div>
  <p>
    
  </p>
    <!-- used for opening windows -->
    <span id="urls" hidden="true" *ngFor="let c of websites">{{c.url}}</span>
</section>
