.nav {
    background-color: rgb(102, 94, 94);
    padding: 10px;
    
}
a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
}
a.active {
    color: white;
}
.grid {
    display: grid;
    //grid-template-columns: 100%;
    grid-template-columns: 0 ;
    grid-template-columns: 1fr;
  }