/* You can add global styles to this file, and also import other style files */
//@import 'node_modules/angular2-toaster/src/toaster';
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    padding: 2em 2em 2em 2em;
}
.form-group {
    input {
        font-family: Arial, Helvetica, sans-serif;
        height: 25px;
        border-radius: 5px;
    }
}
$breakpoints: (
  'smallest':( max-width: 766px ),
  'small'  : ( min-width:  767px ),
  'medium' : ( min-width:  992px ),
  'large'  : ( min-width: 1200px )
);
 
@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}