<!-- 
    this html file is setup with both mockdata but can consume the jira api as well
    too consume the mockdata remove data?. from the for loop on line 13 and for the api
    leave it as data?.issues

    !IMPORTANT
    Conner once you are done styling please remove the issues array from the ts file
    and switch issues back too data.issues as described above!
-->

<div class="support">
    <!-- replacing issues with data?.issues consumes the api data-->
    <div *ngFor="let ticket of data?.issues; index as i;" class="support__item--row">
        <div *ngIf="currentUrl == ticket?.fields.project.name">
            
            <!-- filters by project name-->
            <div *ngIf="ticket?.fields.issuetype.name != 'Sub-task' && ticket.fields.status.name != 'Done';" class="support__item--row">
                <!-- filters out subtasks and Done tasks-->

                <div *ngIf="ticket.fields.project !=null" class="support__item--row">
                    <!-- project name + img-->
                    <div>
                        <img [src]="ticket?.fields.project.avatarUrls['48x48']" alt="project img">
                    </div>
                    <div class="support__item--column">
                        <div>
                            project:{{ticket.fields.project.name}} </div>
                        <div>
                            Ticket-id: {{ticket?.key}}</div>
                    </div>
                </div>
                <div class="support__item">
                    <!-- status if you would like to use the color that matches the status name
                ('ticket.fields.status.statusCategory.colorName') you cant use [ngStyle],
                instead you would have to check the color for each status name and assign it to a class and change that instead-->
                    <span class="support__item--column">
                        {{ticket.fields.status.name}}
                    </span>

                </div>
                <!-- issue title-->
                <div *ngIf="ticket.fields.created != null" class="support__item--row">
                    <span class="support__item--column">
                        Created on: {{ticket?.fields.created.substring(0, 10)}}
                    </span>
                </div>
                <!-- created date-->
                <div *ngIf="ticket.fields.assignee != null" class="support__item--row">
                    <div class="support__item--column">
                        Assigned Too:
                        <img [src]="ticket.fields.assignee.avatarUrls['48x48']" alt="assignee img">
                        <!-- 16x16 24x24 32x32 48x48-->
                        {{ticket?.fields.assignee.displayName}}
                    </div>

                </div>
                <!-- assignee-->
                <div class="support__item--row">
                    <div class="support__item--column">
                        Created By:
                        <img [src]="ticket.fields.creator.avatarUrls['48x48']" alt="creator img"> {{ticket?.fields.creator.displayName}}
                    </div>
                </div>
                <!-- creator-->
                <div *ngIf="ticket.fields.duedate != null">Due on: {{ticket?.fields.duedate}}</div>
                <!--duedate (can return null if not set)-->
                <div class="support__item--row">
                    <div class="support__item--column">
                        Type: {{ticket?.fields.issuetype.name}}
                    </div>
                </div>
                <!-- might be better to use ngfor on ticket.fields.labels-->
            </div>
        </div>
    </div>
</div>