<div class="admin-wrapper-main">
    <section>
    <div class="admin-wrapper-main__card">
<h2 class="admin-wrapper-main__card--title">edit {{data[0].name}}</h2>
        <form class="admin-wrapper-main__card--form">
            <div class="admin-wrapper-main__card--form-group">
                <label for="name">company name</label>
                <input #name type="text" name="name" value="{{data[0].name}}">
            </div>
            <div class="admin-wrapper-main__card--form-group"><label for="url">url</label>
            <input type="text" name="url" #url value="{{data[0].url}}"></div>
            
            <button (click)="update(name.value, url.value); alertUser()">edit</button>
        </form>


    </div>
</section>
</div>