<div class="admin-wrapper-main">
	<section>
		<div class="admin-wrapper-main__card">
			<h2 class="admin-wrapper-main__card--title">edit {{data[0]?.name}}</h2>
			<form class="admin-wrapper-main__card--form">
				<div class="admin-wrapper-main__card--form-group">
					<label for="name">company name</label>
					<input #name type="text" name="name" value="{{data[0]?.name}}" class="admin-wrapper-main__card--form-input">
				</div>
				<div class="admin-wrapper-main__card--form-group"><label for="url">url</label>
					<input type="text" name="url" #url value="{{data[0]?.url}}" class="admin-wrapper-main__card--form-input">
				</div>
				<div class="admin-wrapper-main__card--form-group"><label for="displayTime">Display Time</label>
					<input type="number" name="displayTime" #displayTime value="{{data[0]?.displayTime}}" class="admin-wrapper-main__card--form-input">
					<div>{{displayTime.value / 1000}} seconds</div>
				</div>
				<button (click)="update(name.value, url.value, displayTime.value); alertUser()">edit</button>
			</form>


		</div>
	</section>
</div>
